.container{
  background-color: #141414;
  height: 100%;
  width: 100%;
  display:flex;
}
.link{
  text-decoration: none;
   border:none;
   margin-top: 2%;
}
.loggedContainer{
 display: flex;
 flex-direction: column;
 width: 100%;
 flex: 1;
}
.title{
  display:flex;
  width:95%;
  height: 10%;
  margin:0 auto;
}
.p{
align-self: center;
font-weight: bold;
font-size: 135%;
color:white;
}
.listContainer{
  align-self: center;
  margin:0 auto;
  background-color: #1D1B1B;
  height: 85%;
  width: 95%;
  border-radius: 1.5%;
  overflow-x: hidden;
  overflow-y: auto;
}
.tabComponentContainer{
 display:flex;
 flex:1;
 margin:0 auto;
 flex-direction: row;
 justify-content: space-between;
 width: 95%;
 height: 6%;
 background-color: var(--main-black);
 align-items: center;
 padding: 2%;
 border-radius: 0.5vw;
}
.compContainer{
  height: 6%;
  margin-top:1%;
}
.tabComponentContainer:hover{
  border: 0.3vh solid var(--main-blue);
  cursor: pointer;
}
.tabSectionA{
  flex:5;
}
.tabSectionB{
  flex:2;
}
.tabSectionC{
  flex:2
}
.tabSectionD{
  flex:1;
}

.tabP{
  color: white;
}
