.container{
  display:flex;
  flex-direction: column;
  margin-top: 8%;
  margin-left: 3%;
  flex:1
}
.img{
  width: 18%;
  border-radius: 100%;
  border: black 2px solid;
  margin-right:4%;
  flex:2;
  width: 6vw;
  height: 4vw;

}
.user{
  display: flex;
  flex:1;
}

.userCol{
  display:flex;
  flex-direction: column;
  margin-top: 2%;
  flex:7;
}
.name{
  color:white;
  font-weight:550;
  font-size: 95%;
}
.username{
  color: #9590A0;
  font-size: 80%;
  margin-top: 3%;
}
.button{
  border:none;
  color: #9590A0;
  background: none;
  outline: none;
  margin-right:5%;
  font-size: 115%;
  align-self:center;
  flex:1;
  transition: all .6s ease-in-out;
  -webkit-transition: all .5s ease-in-out;    /* safari - Chrome*/
  -moz-transition: all .5s ease-in-out;       /* Firefox */
  -o-transition: all .5s ease-in-out;
}
.buttonActive{
  border:none;
  color: #9590A0;
  background: none;
  outline: none;
  margin-right:5%;
  font-size: 115%;
  align-self:center;
  flex:1;
  transition: all .6s ease-in-out;
  -webkit-transition: all .6s ease-in-out;    /* safari - Chrome*/
  -moz-transition: all .6s ease-in-out;       /* Firefox */
  -o-transition: all .6s ease-in-out;
  transform: scaleY(-1);
  -moz-transform: scaleY(-1); /* Firefox */
  -webkit-transform: scaleY(-1); /* Chrome - Safari */
  -o-transform: scaleY(-1); /* Opera */
}
