.container{
  display:flex;
  flex:1
}
.buttons{
  align-items: center;
  flex:3.3;
  text-decoration: none;
  border:none;
  color: white;
  background: none;
  outline: none;
  padding:4%;
  border-bottom: 0.5vh solid var(--main-black);
}
.buttons:hover{
  border-bottom: 0.5vh solid var(--main-lightBlue);
}
.activeButton{
  align-items: center;
  flex:3.3;
  text-decoration: none;
   border:none;
   font-weight: bold;
   color: white;
   background: none;
   outline: none;
   padding:4%;
   border-bottom: 0.5vh solid var(--main-blue);
 }
