:root{
  --main-background: #202024;
  --main-black: #121212;
  --main-button: #042078;
  --main-black: #0B090F;
}

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family:sans-serif;
}
 body{
      display: flex;
      flex-direction: column;
      background-color: var(--main-background);
      min-height: 100vh;
    }
    .fa-search{
      font-size: 150%;
    }
    .fa-arrow-alt-circle-left{
      font-size: 200%;
      color: #605D67;
    }
    .fa-arrow-alt-circle-left:hover{
      color: #797780;
    }
