.container{
  display: flex;
  align-self: center;
  align-items: center;
  background-color: #062940;
  margin:0 auto;
  height: 20%;
  padding: 5%;
  border-radius: 5px 30px 5px;
}
.p{
  color:white;
  font-weight: bold;
  font-size: 120%;
}
