.container{
  background-color: #141414;
  height: 100%;
  width: 100%;
  display:flex;

}

.loggedContainer{
 display: flex;
 flex-direction: column;
 width: 100%;
 flex: 1;
}
.title{
  display:flex;
  width:95%;
  height: 10%;
  margin:0 auto;
}
.p{
align-self: center;
font-weight: bold;
font-size: 135%;
color:white;
}
.listContainer{
  align-self: center;
  margin:0 auto;
  background-color: #1D1B1B;
  height: 85%;
  width: 95%;
  border-radius: 1.5%;
}
