.container{
  background-color: #141414;
  height: 100%;
  width: 100%;
  display:flex;

}

.loggedContainer{
 display: flex;
 flex-direction: column;
 width: 100%;
 flex: 1;
}
.title{
  display:flex;
  width:95%;
  height: 10%;
  margin:0 auto;
}
.p{
align-self: center;
font-weight: bold;
font-size: 135%;
color:white;
}
.listContainer{
  align-self: center;
  margin:0 auto;
  background-color: #1D1B1B;
  height: 85%;
  width: 95%;
  border-radius: 1.5%;
}
.tabComponentContainer{
 display:flex;
 flex:1;
 margin:0 auto;
 flex-direction: row;
 justify-content: space-between;
 width: 95%;
 height: 6%;
 background-color: var(--main-black);
 align-items: center;
 padding: 2%;
 border-radius: 0.5vw;
 margin-top: 2%;
}
.tabSectionA{
  flex:7;
}
.tabSectionB{
  flex:2;
}
.tabSectionC{
  flex:1;
}
.tabSection{
  margin-right: 6%;
}
.tabP{
  color: white;
}
