.container{
  z-index: 3;
  display:flex;
  flex-direction: column;
  margin-left: 10%;
}
.h{
  color:white;
  flex-wrap: wrap;
  margin-bottom: 1%;
}
.input{
 width:90%;
 height: 5vh;
 margin: 0 auto;
 padding-left: 5%;
 margin-top:5%;
 background-color: var(--main-black);
 border:none;
 border-radius: 5px;
 color: white;
 outline:none
}
.input:focus{
  border: 1px solid #009ec9;
}
.button{
  width:90%;
  height: 4vh;
  margin:0 auto;
  margin-top: 5%;
  background-color: #605D67;
  border:none;
  border-radius: 15px;
  color:white;
  cursor: pointer;
}
