.container{
  background-color: white;
  width: 95%;
  height: 95%;
  margin:0 auto;
  background-color: #555454;
  display: flex;
  justify-content: center;
  border-radius: 0.5%;
}
.sheet{
  background-color: #EBEBEB;
  width: 95%;
  height: 95%;
  border-radius: 0.1%;
  overflow-y: scroll;
}
.optionsContainer{
  position: absolute;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightblue; /*color temporal*/
}
.input{
  width:8%;
  height: 4vh;
  font-size: 150%;
  padding-left: 1%;
}
.h4{
  display: inline;
}
.back{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 150%;
}
