.inf{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display:flex;
  flex-direction: row;

  left: -28%;
  top: 13%;
  background-color: #1f1e1e;
}
.otherButton{
  border:none;
  color: #9590A0;
  background: #5c5c5c;
  outline: none;
  width:65%;
  border-radius: 5%;
  margin-top:2%;
  cursor: pointer;
}
.infCol{
  display: flex;
  flex-direction: column;
}
.infRow{
  display:flex;
}
.h4{
  color:#9590A0;
}
.infInput{
  width:15%;
  font-size: 150%;
  margin-left: 1%;
}
.infCol2{
  display: flex;
  flex-direction: row;
}
.inputTg{
  width:13%;
  font-size: 125%;
  justify-content: flex-end;
}
.inpSection{
  display: flex;
  flex-direction: column;
}
.successDiv{
  margin-top: 5%;
}
.p{
  font-size: 120%;
  color: green;
}
