.inf{
  position:fixed;
  display:flex;
  flex-direction: row;
  z-index: 5;
  left: -28%;
  width:25%;
  margin-top: 13%;
  background-color: #1f1e1e;
}
.otherButton{
  border:none;
  color: #9590A0;
  background: #5c5c5c;
  outline: none;
  width:65%;
  border-radius: 5%;
  margin-top:2%;
  cursor: pointer;
}
.infCol{
  display: flex;
  flex-direction: column;
}
.infRow{
  display:flex;
}
.h4{
  color:#9590A0;
}
.infInput{
  width:25%;
  font-size: 150%;
  margin-left: 1%;
}
.infCol2{
  display: flex;
  flex-direction: row;
}
.inputTg{
  width:45%;
  font-size: 135%;
  justify-content: flex-end;
}
.inpSection{
  display: flex;
  flex-direction: column;
}
